/* Write your code here: */

/*selector*/
h1, h2{
    color: blueviolet;
}

/*parent*/
.box >p{
    color: firebrick;
}

/*Descendant*/
.box li{
    color: blue;
}
/*chaining*/
li.done{
    color: seagreen;
}
/*combining multiple combinators*/

ul p.done{
    font-size: 0.5rem;
}